body {
    background-color: #0d0f14;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#card{
    position: relative;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    color: #fff;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    border-radius: 10px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#card::after, #card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;   
    animation: 3s spin linear infinite;
}

#card::before{
    filter: blur(1.5rem);
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}