body {
    background-color: #0d0f14;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#card{
    position: relative;
    width: 90vw;
    max-width: 420px;
    background: #1c1f2b;
    border-radius: 15px;
    padding: 6px;
    z-index: 2;
}

.card-content{
    overflow: hidden;
    border-radius: 12px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#card::before,#card::after{
    content:'';
    position:absolute;
    inset:0;
    border-radius:15px;
    background-image:conic-gradient(from var(--angle),
    #614af3,#da3498,#ff747b,#f1bd8a);
    animation:spin 4s linear infinite;
    z-index:-1;
}
#card::before{ filter:blur(5px); } 
#card::after{ filter:blur(2px);}

@keyframes spin{ to{ --angle:360deg; } }

#imagen img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.botones {
    display:flex;
    gap:15px;
    margin-top:18px;
    flex-wrap:wrap;
    justify-content:center;
}

.rgb-btn{
    position:relative;
    padding:12px 30px;
    font-size:18px;
    background:#0d0f14;
    color:white;
    border-radius:10px;
    border:none;
    cursor:pointer;
}

.rgb-btn::before,
.rgb-btn::after{
    content:'';
    position:absolute;
    inset:0;
    border-radius:inherit;
    background-image:conic-gradient(from var(--angle),
    #614af3,#da3498,#ff747b,#f1bd8a);
    animation:spin 4s linear infinite;
    z-index:-1;
}
.rgb-btn::before{filter:blur(12px);}
